@import url('https://fonts.googleapis.com/css?family=Lato');

body, html{
  height: 100%;
  background: #222222;
	font-family: 'Lato', sans-serif;
}


.container{
  display: block;
  position: relative;
  margin: 40px auto;
  height: auto;
  width: 500px;
  padding: 20px;
}

h2 {
	color: #AAAAAA;
}

.fieldset1 {
  color: #AAAAAA;
  border:1px solid red;
}

label {
  padding: 0.2em 0.5em;

  color:#AAAAAA;
  font-size:90%;
  text-align:right;
  }
